<%= render partial: "layouts/errors", locals: { object: @business} %>

<%= form_for @business do |f| %>
  <%= f.label :business %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.text_field :business %>
    </div>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
