<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "WikiStore", businesses_path %></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li><%= link_to "Business Types", businesses_path %></li>
          </ul>
        </section>
      </nav>
    </header>
    <main>
      <div class="row">
        <div class="small-8 columns"><%= yield %></div>
        <div class="small-4 columns">
          <h2 class="subheader">About WikiStore</h2>
          <p>
            There are places that have stuff. We list those places. If you love stuff you'll love WikiStore.
          </p>
          <br>
          <%= image_tag "businesses.png" %>
        </div>
      </div>
    </main>
    <!-- <footer>
      <div class="wrap row small-up-1 medium-up-3">
        <div class="column">
          <h4>Contact Info</h4>
          <hr>
          <a href="#"><span>Github</span>https://github.com/BullThistle</a>
          <a href="#"><span>Website</span>www.rafamaya.com</a>
        </div>
        <div class="column">
          <h4>Site Map</h4>
          <hr>
          <a href="#">Abous Us</a>
          <a href="#">Services</a>
          <a href="#">Contact Us</a>
        </div>
        <div class="column">
          <h4>Social Media</h4>
          <hr>
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
        </div>
      </div>
    </footer> -->
  </body>
</html>
